<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/base-style.css">
    <style></style>
</head>
<body>
<!-- Include the menu bar fragment -->
<div th:insert="~{fragments/general :: menu}"></div>

<!-- Main content -->
<br>
    <h2 style="text-align: center; font-size: 1.5rem !important;">Groups</h2>
<div style="display: flex; justify-content: center">
    <div>
        <div th:insert="~{fragments/general :: flash-msgs}"></div>
        <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PROFESSOR')" data-bs-toggle="modal"
             data-bs-target="#AddNewGroupModal" class="btn">New Group</a>

        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PROFESSOR')" class="modal fade" id="AddNewGroupModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Add new Group to Database</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{addGroup}" method="post">
                            <div class="mb-3">
                                <label for="newGroupName" class="col-form-label">Name</label>
                                <input type="text" class="form-control" id="newGroupName" name="name" maxlength="10"
                                       required/>
                            </div>
                            <div class="mb-3">
                                <label for="courses">Assign Courses</label>
                                <div th:each="course : ${courses}">
                                    <input id="courses" type="checkbox" name="coursesIds" th:value="${course.id}" />
                                    <label th:for="${'course_' + course.id}" th:text="${course.courseName}"></label>
                                    <br />
                                </div>
                            </div>
                            <br>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add Group</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Group Name</th>
                <th>Assigned Courses</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="group, iterStat : ${groups}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${group.name}"></td>
                <td>
                    <span th:each="course, iterStat : ${group.assignedCourses}">
                        <span th:text="${course.courseName}"></span>
                        <span th:if="${!iterStat.last}">,</span>
                    </span>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <div style="text-align: center">
                        <i class="fa-regular fa-pen-to-square" data-bs-toggle="modal"
                           th:data-bs-target="'#EditGroupModal_' + ${group.id}"></i>
                    </div>
                    <div class="modal fade" th:id="'EditGroupModal_' + ${group.id}">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">Edit Group</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/group/update}" method="post">
                                        <div class="mb-3">
                                            <input type="hidden" th:name="id" th:value="${group.id}"/>
                                            <label for="newName" class="col-form-label">Name:</label>
                                            <input type="text" class="form-control" id="newName" name="name"
                                                   th:value="${group.name}" maxlength="10" required/>
                                        </div>
                                        <div class="mb-3">
                                            <label>Assign Courses</label>
                                            <div th:each="course : ${courses}">
                                                <input type="checkbox" name="coursesIds" th:value="${course.id}"
                                                       th:checked="${group.assignedCourses.contains(course)}" />
                                                <label th:for="${'course_' + course.id}" th:text="${course.courseName}"></label>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Update Group</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <div style="text-align: center">
                        <i class="fa-regular fa-trash-can" data-bs-toggle="modal"
                           th:data-bs-target="'#DeleteGroupModal_' + ${group.id}"></i>
                    </div>
                    <div class="modal fade" th:id="'DeleteGroupModal_' + ${group.id}">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">Delete Group</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p th:text="'Are you sure you want to delete ' + ${group.name} + '?'"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <form th:action="@{/group/delete}" method="post">
                                        <input type="hidden" name="groupId" th:value="${group.id}"/>
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script>
    setTimeout(function() {
        bootstrap.Alert.getOrCreateInstance(document.querySelector(".alert")).close();
    }, 3000)
</script>
</body>
</html>
