.form-group label {
    display: block;
    font-weight: bold;
}

table {
    border-collapse: separate;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    background-color: #e1e1e0;
}

nav.primary-navigation {
    margin: 0 auto;
    display: block;
    padding: 120px 0 0 0;
    text-align: center;
    font-size: 16px;
}

nav.primary-navigation ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #3ca0e7;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
}

nav.primary-navigation ul {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
}

nav.primary-navigation li a {
    color: black;
}

nav.primary-navigation li a:hover {
    color: #3ca0e7;
}

nav.primary-navigation li:hover {
    cursor: pointer;
}

nav.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
}

nav.primary-navigation ul li:hover > ul,
nav.primary-navigation ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 170px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0 3px 5px -1px #ccc;
}

nav.primary-navigation ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

nav.primary-navigation ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

a:hover {
    color: #3ca0e7;
}

ul li ul li a {
    transition: all 0.5s ease;
}

.datepicker td, datapicker th {
    background-color: transparent;
}

.datepicker thead tr:first-child th {
    background-color: transparent;
}

.content {
    margin-top: 50px;
    text-align: left;
}

.btn {
    display: inline-block;
    padding: 4px 13px;
    background-color: #c1e2ff;
    color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin: 12px;
}

.btn:hover {
    opacity: 0.8;
}